:root {
    --shadowColor: rgba(0,0,0,0.2);
}



main {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 0;
    /* background-color: red; */
    /* border: 5px solid black; */
}

#products {
    display: grid;
    /* background-color: blue; */
    width: 60%;
    padding: 10px;
    /* margin-left: 40%; */
    grid-template-rows: 10% 40% 40% 40%;
    grid-template-columns: auto;
    aspect-ratio: 1;
    grid-gap: 20px;
}

.product {
    background-color: yellow;
    color: white;
}
#product:nth-child(1) {
    color: rgba(0,0,0,0.8);
}

.product:nth-child(1){
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product:nth-child(1) h2{
    color: rgba(0,0,0,0.8);
    text-align: center;
    font-size: 2.5rem;
    font-family: monospace;
}
.product:nth-child(2) {
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url(../images/h2feulcell.png);
    background-size: 114%;
    background-position: center;
    cursor: pointer;
    transition: ease-in-out 0.2s background-size;
}
.product:nth-child(3) {
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url(../images/turbo.png);
    background-size: 114%;
    background-position: center;
    cursor: pointer;
    transition: ease-in-out 0.2s background-size;
}
.product:nth-child(4) {
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url(../images/digital_heatsink.png);
    background-size: 114%;
    background-position: center;
    cursor: pointer;
    transition: ease-in-out 0.2s background-size;
}
.product:nth-child(2):hover {
    background-size: 118%;
}
.product:nth-child(3):hover {
    background-size: 118%;
}
.product:nth-child(4):hover {
    background-size: 118%;
}

.trendingProduct {
    /* border: 1px solid red; */
    text-align: center;
    font-family: monospace;
    font-weight: 900;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.trendingProduct h2 {
    font-size: 2.7rem;
}

.shopnowbtn {
    /* border: 1px solid red; */
    /* height: 30%; */
    display: flex;
    justify-content: right;
    padding: 20px 40px;
    /* align-items: right; */
}

.shopnowbtn button {
    cursor: pointer;
    padding: 10px 20px;
    /* font-size: 0.9rem; */
    background: rgba(255,255,255,0.8);
    border: 1px solid white;
    transition: ease-in-out 0.1s transform;
}
.shopnowbtn button:hover {
    transform: scale(110%);
    background: rgba(255,255,255,1);
}

footer {
    background-color: #202020;
    padding: 40px;
    font-size: 1rem;
}
footer h4 {
    color: white;
}

#categories {
    /* border: 1px solid red; */
    width: 40%;
    /* height: 100%; */
    /* aspect-ratio: 1; */
    padding: 20px;
    position: sticky;
    top:14%;
    z-index: -1;
}

#categories div {
    padding: 20px;
    box-shadow: 1px 1px 2px 0px #202020;
    border-radius: 0.3rem;
    background-color: white;
    /* height: auto; */
}
#categories div h2 {
    text-align: center;
    font-size: 2.4rem;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}
#categories div ul {
    list-style: none;
}
#categories div ul li {
    cursor: pointer;
    padding: 6px;
    margin: 10px 0;
    background-color: rgb(0,0,0,0.8);
}
#categories div ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(119, 189, 212);
    font-family: 4vw;
}

@media only screen and (max-width: 1170px){ /* small laptop */
    .trendingProduct h2 {
        font-size: 3rem;
    }
    #products {
        display: grid;
        grid-template-rows: 10% 50% 50% 50%;
        width: 100%;
    }
}
@media only screen and (max-width: 900px) { /* mobile phones and tables */
    body {
        /* background-color: blue; */
    }
    #logo {
        position: static;
        width: 100%;
        aspect-ratio: 3/1;
        /* border: 1px solid red; */
        border-radius: 0;
        box-shadow: none;
        float: none;
        background-size: calc(33.34% - 5%) calc(100% - 15%);
    }
    header {
        position: static !important;
        display: block;
    }
    header nav {
        position: static;
        box-shadow: none;
        /* border: 1px solid red; */
        display: block;
        width: 100%;
        height: auto;
        /* background-color: red; */
    }
    header nav ul {
        position: static;
        display: block;
        float: none;
    }
    header nav ul li {
        width: 100%;
        height: auto;
    }
    header nav ul li a {
        height: 90px;
        width: 100%;
        font-size: 2rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 400;
    }
    main {
        display: block;
    }
    .trendingProduct h2 {
        font-size: 2.5rem;
    }
    #categories {
        display: block;
        position: static;
        width: 100%;
        height: auto;
        aspect-ratio: none;
    }
    #categories div {
        height: auto;
    }
    #products {
        display: grid;
        grid-template-rows: 10% 60% 60% 60%;
        width: 100%;
    }
    footer {
        display: block;
    }
}

@media only screen and (max-width: 520px) {
    #products {
        display: grid;
        grid-template-rows: 10% 70% 70% 70%;
        width: 100%;
    }
}

@media only screen and (max-width: 300px) {
    #categories div h2 {
        color: rgba(0, 0, 0, 0.8);
        font-size: 10.5vw;
    }
    .trendingProduct {
        height: 60%;
    }
}

@media only screen and (min-height: 1300px) {
    #products {
        grid-template-rows: 20% 70% 70% 70%;
    }
    #categories div h2 {
        color: rgba(0, 0, 0, 0.8);
        font-size: 4.6vw;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #categories div ul li {
        padding: 10px;
    }
    #categories div ul li a {
        font-size: 2.6vw;
    }
}