* {
    margin: 0;
    padding: 0;
    /* float: left; */
    box-sizing: border-box;
}
body {
    /* background: #505050; */
    background-color: white;
}
:root {
    --shadowColor: rgba(0,0,0,0.2);
}
header {
    position: sticky; /* catches the top part of the window and sticks/moves with the scroll */
    z-index: 1;
    top:0;
}
header nav {
    position: relative; /* relative position allows me to move the box model 12% from the left(from its previous position) */
    left: 12%;
    background-color: white;
    /* border-left: 2px solid black; */
    width: calc(100% - 12%);
    height: 90px;
    z-index: 0;
    box-shadow: 0px 1px 2px 1px var(--shadowColor);
}

header nav ul {
    display: inline-flex; /* aligns content side-by-side hence inline */
    background-color: transparent;
    float: right;
    list-style: none;
    /* justify-content: center; */
    /* height: 90px; */
}
header nav ul li {
    margin-right: 10px;
    height: 90px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header nav ul li a {
    display: flex; /* the way to align content in a elements box-model - im using it to justify and align content to the center*/
    height: 40px;
    width: 100px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: 1px solid rgba(0,0,0,0.8);
    transition: ease-in-out 0.1s background-color;
}
header nav ul li a:hover {
    background-color: black;
}

#logo {
    position: absolute; /* makes the element independent from other elements */
    top: 0%;
    left: 0%;
    background-color: rgb(255, 255, 255);
    background-image: url(../images/ingenium_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
    width: 12%;
    height: auto;
    aspect-ratio: 1;
    float: left;
    cursor: pointer;
    border-bottom-right-radius: 20%;
    box-shadow: 1px 1px 2px 1px var(--shadowColor);
    z-index: 1;
}

@media only screen and (max-width: 900px) { /* mobile phones and tables */
    #logo {
        position: static;
        width: 100%;
        aspect-ratio: 3/1;
        /* border: 1px solid red; */
        border-radius: 0;
        box-shadow: none;
        float: none;
        background-size: calc(33.34% - 5%) calc(100% - 15%);
    }
    header {
        position: static !important;
        display: block;
    }
    header nav {
        position: static;
        box-shadow: none;
        /* border: 1px solid red; */
        display: block;
        width: 100%;
        height: auto;
        /* background-color: red; */
    }
    header nav ul {
        position: static;
        display: block;
        float: none;
    }
    header nav ul li {
        width: 100%;
    }
    header nav ul li a {
        height: 90px;
        width: 100%;
        font-size: 2rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 400;
    }
    footer {
        display: block;
    }
}
